*{
    box-sizing: border-box;
}

body{
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    background-color:rgb(244, 126, 113) ;
    
}
h1{
    color: rgb(245, 245, 245);
}


#container{
display: flex;
margin-top: 30px;
justify-content: center;


}
div{
   margin: 10px; 
   
}

img{
    width: 100px;
    
}
img:hover{
    background-color: rgb(68, 78, 78);
    cursor:pointer;
}